@use 'colors';

$horizontal-padding: 10px;

.root {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: colors.$dark;
	border-radius: 8px;
	box-shadow:
		0 0 2px transparentize(black, 0.7),
		0 4px 8px transparentize(black, 0.7);
}

.messages {
	$vertical-padding: 12px;
	$scrollbar-width: 2px;
	
	height: 200px;
	padding:
		$vertical-padding
		($horizontal-padding - $scrollbar-width)
		$vertical-padding
		$horizontal-padding;
	overflow-y: auto;
	
	&::-webkit-scrollbar {
		width: $scrollbar-width;
	}
	
	&::-webkit-scrollbar-thumb {
		background: #888;
	}
}

.form {
	display: flex;
	height: 30px;
	margin: 0 $horizontal-padding $horizontal-padding;
	overflow: hidden;
	border-radius: 8px;
}

.input {
	flex-grow: 1;
	min-width: 0;
	padding: 0 8px;
	font-size: 14px;
	color: white;
	background: transparentize(white, 0.8);
	
	&::placeholder {
		color: transparentize(white, 0.5);
	}
}

.submit {
	padding: 0 8px;
	font-size: 14px;
	font-weight: 900;
	color: white;
	background: colors.$blue;
	transition: color 0.3s, background 0.3s, opacity 0.3s;
	
	&:disabled {
		opacity: 0.8;
	}
	
	&:not(:disabled):hover {
		color: colors.$blue;
		background: white;
	}
}
