@use 'colors';

.navbar {
	display: flex;
	position: absolute;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	height: 62px;
	padding: 16px 20px;
	background: transparentize(colors.$dark, 0.0);
}

.icon {
	height: 30px;
	margin-right: 8px;
}

.title {
	margin-right: 20px;
	font-weight: 900;
	color: colors.$pink;
	transform: translateY(-2px);
}

.titleEmphasized {
	color: colors.$blue;
}

.nameForm {
	display: flex;
	height: 30px;
	margin-right: auto;
	overflow: hidden;
	border-radius: 8px;
}

.nameInput {
	padding: 0 8px;
	font-size: 14px;
	color: white;
	background: transparentize(white, 0.8);
	
	&::placeholder {
		color: transparentize(white, 0.5);
	}
}

.nameSubmit {
	padding: 0 8px;
	font-size: 14px;
	font-weight: 900;
	color: white;
	background: colors.$blue;
	transition: color 0.3s, background 0.3s, opacity 0.3s;
	
	&:disabled {
		opacity: 0.8;
	}
	
	&:not(:disabled):hover {
		color: colors.$blue;
		background: white;
	}
}

.movement {
	position: relative;
	margin-right: 20px;
	padding: 0 8px;
	line-height: 30px;
	color: white;
	background: transparentize(white, 0.9);
	font-weight: 900;
	border-radius: 8px;
}

.movementIndicator {
	position: absolute;
	top: 0;
	left: -6px;
	white-space: nowrap;
	line-height: normal;
	font-size: 12px;
	font-weight: bold;
	transform: translateY(-50%);
}

.copyLocation {
	height: 30px;
	padding: 0 8px;
	margin-right: 20px;
	font-weight: 900;
	color: white;
	background: colors.$blue;
	border-radius: 8px;
	transition: color 0.3s, background 0.3s;
	
	&:hover {
		color: colors.$blue;
		background: white;
	}
}

.locationForm {
	display: flex;
	height: 30px;
	margin-right: 20px;
	overflow: hidden;
	background: transparentize(white, 0.9);
	border-radius: 8px;
}

.location {
	display: flex;
}

.locationLabel {
	align-self: center;
	padding: 0 8px;
	font-weight: 900;
	color: white;
}

.locationInput {
	width: 80px;
	padding: 0 8px;
	color: white;
	background: transparentize(white, 0.9);
	-moz-appearance: textfield;
	
	&::placeholder {
		color: transparentize(white, 0.5);
	}
	
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.locationSubmit {
	padding: 0 8px;
	font-size: 14px;
	font-weight: 900;
	color: white;
	background: colors.$blue;
	transition: color 0.3s, background 0.3s, opacity 0.3s;
	
	&:disabled {
		opacity: 0.8;
	}
	
	&:not(:disabled):hover {
		color: colors.$blue;
		background: white;
	}
}

.color {
	align-self: flex-start;
	margin-right: 20px;
}

.canvas {
	cursor: none;
}
