.title {
	position: absolute;
	top: 16px;
	left: 20px;
	font-weight: 900;
	color: #f85ea1;
	pointer-events: none;
}

.titleEmphasized {
	color: #1486e7;
}

.canvas {
	cursor: url('../images/cursor.svg') 10 10, auto;
}
