$pink: #f85ea1;
$blue: #1486e7;
$dark: #292d3e;

.navbar {
	display: flex;
	position: absolute;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	height: 62px;
	padding: 16px 20px;
	background: transparentize($dark, 0.0);
}

.title {
	margin-right: 20px;
	font-weight: 900;
	color: $pink;
}

.titleEmphasized {
	color: $blue;
}

.nameForm {
	display: flex;
	height: 30px;
	margin-right: auto;
	overflow: hidden;
	border-radius: 8px;
}

.nameInput {
	padding: 0 8px;
	font-size: 14px;
	background: white;
}

.nameSubmit {
	padding: 0 8px;
	font-size: 14px;
	font-weight: 900;
	color: white;
	background: $blue;
	transition: color 0.3s, background 0.3s, opacity 0.3s;
	
	&:disabled {
		opacity: 0.8;
	}
	
	&:not(:disabled):hover {
		color: $blue;
		background: white;
	}
}

.color {
	align-self: flex-start;
}

.canvas {
	cursor: none;
}
