$pink: #f85ea1;
$blue: #1486e7;
$dark: #292d3e;

.navbar {
	display: flex;
	position: absolute;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	height: 62px;
	padding: 16px 20px;
	background: transparentize($dark, 0.0);
}

.title {
	margin-right: 20px;
	font-weight: 900;
	color: $pink;
}

.titleEmphasized {
	color: $blue;
}

.nameForm {
	display: flex;
	height: 30px;
	margin-right: auto;
	overflow: hidden;
	border-radius: 8px;
}

.nameInput {
	padding: 0 8px;
	font-size: 14px;
	color: white;
	background: transparentize(white, 0.8);
}

.nameSubmit {
	padding: 0 8px;
	font-size: 14px;
	font-weight: 900;
	color: white;
	background: $blue;
	transition: color 0.3s, background 0.3s, opacity 0.3s;
	
	&:disabled {
		opacity: 0.8;
	}
	
	&:not(:disabled):hover {
		color: $blue;
		background: white;
	}
}

.locationForm {
	display: flex;
	height: 30px;
	margin-right: 20px;
	overflow: hidden;
	background: transparentize(white, 0.9);
	border-radius: 8px;
}

.location {
	display: flex;
}

.locationLabel {
	align-self: center;
	padding: 0 8px;
	font-weight: 900;
	color: white;
}

.locationInput {
	width: 50px;
	padding: 0 8px;
	color: white;
	background: transparentize(white, 0.9);
	-moz-appearance: textfield;
	
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.locationSubmit {
	padding: 0 8px;
	font-size: 14px;
	font-weight: 900;
	color: white;
	background: $blue;
	transition: color 0.3s, background 0.3s, opacity 0.3s;
	
	&:disabled {
		opacity: 0.8;
	}
	
	&:not(:disabled):hover {
		color: $blue;
		background: white;
	}
}

.color {
	align-self: flex-start;
	margin-right: 20px;
}

.chat {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 241.25px;
	background: white;
	border-radius: 2px;
	box-shadow:
		0 0 2px transparentize(black, 0.7),
		0 4px 8px transparentize(black, 0.7);
}

.messages {
	flex-grow: 1;
	padding: 0 8px 4px;
	overflow-y: auto;
}

.message {
	margin-top: 4px;
	word-wrap: break-word;
}

.logMessage {
	text-align: center;
	color: #a9a9a9;
}

.messageForm {
	display: flex;
	height: 30px;
}

.messageInput {
	flex-grow: 1;
	padding: 0 8px;
	font-size: 14px;
	background: white;
}

.messageSubmit {
	padding: 0 8px;
	font-size: 14px;
	font-weight: 900;
	color: white;
	background: $blue;
	transition: color 0.3s, background 0.3s, opacity 0.3s;
	
	&:disabled {
		opacity: 0.8;
	}
	
	&:not(:disabled):hover {
		color: $blue;
		background: white;
	}
}

.canvas {
	cursor: none;
}
